<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--FOR TESTING ONLY ENABLE HTTP CONNECTIONS -->
    <application
        android:name=".BaseApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/bus2go_dark_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bus2go_dark_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme.Bus2Go"
        android:versionCode="4"
        android:versionName="v1.2.1-alpha"
        tools:targetApi="31">
        <!-- Used for FileProvider class, to install the downloaded update apk -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver android:name=".presentation.main.alarms.AlarmReceiver" />
        <activity
            android:name=".presentation.config.ConfigActivity"
            android:exported="false"/>
        <activity
            android:name=".ChooseStop"
            android:exported="false"
            >

        </activity>
        <activity android:name=".presentation.stopTimes.StopTimesActivity"
            android:exported="false">

        </activity>
        <!-- Need to change the android:theme attr -->
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchBus"
            android:exported="false">
        </activity>
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ChooseDirection"
            android:exported="false">
        </activity>
    </application>

</manifest>