<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bus2Go-Debug"
        tools:replace="android:icon,android:label"
        >
        
    </application>

</manifest>
